@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@stylex stylesheet;

* {
  box-sizing: border-box;
  cursor: default;
}

body {
  margin: 0;
}

html {
  font-family: "Inter", "system-ui";
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "InterVariable", "system-ui";
  } /* If using the variable font */
}

pre {
  margin: 0;
}
