@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  height: 100vh;
}

@layer base {
  .app * {
    cursor: default;
    font-family: "Inter", "system-ui";
  }

  .app pre,
  body {
    margin: 0;
  }

  .app p:first-child {
    margin-top: 0;
  }

  .app p:only-child {
    margin: 0;
  }

  .app {
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  @property --logo-text-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #070056;
  }

  @media (prefers-color-scheme: dark) {
    path {
      --logo-text-color: ;
    }
  }
}

@supports (font-variation-settings: normal) {
  .app *,
  .inter {
    font-family: "InterVariable", "system-ui";
  } /* If using the variable font */
}

@media (prefers-color-scheme: dark) {
  .code,
  .code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
